/*
Quinto A
Estudiante: María Santana Minaya 
Aplicaciones Web 1

*/
* {
    box-sizing: border-box;
    background: url(tarea2.jpg) center no-repeat;
    background-size: cover;
}

body {
margin: 0;
font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: auto;
    margin-top: 20px;
}
.ingreso{
    margin: auto;
    padding: 30px 50px;
    border-top: 2px solid #eee;
    background: linear-gradient(rgb(94, 169, 255), #d5d4f5);
    max-width: 500px;
}
.titulo{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    background-color: rgb(177, 248, 248);
    font-weight: bold;
}
.ingreso_input{
    margin-bottom: 35px;
   
}
.ingreso_input label{
    margin-top: 10px;
    display: block;
    font-size: 20px;
    
}
.ingreso_input input{
    border: 1px;
    width: 100%;
    border-bottom: 2px solid;
    outline:none;
}
.ingreso_boton input {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 14px;
    font-family: tahoma, verdana, helvetica;
    margin: 12px;
    border: none;
    background: rgb(250, 169, 169);
padding: 17px 167px;
}

.ingreso_boton input:hover {
    background: navajowhite;
    transition: 0.5s;
}
.error{
    font-size: 14px;
    color: rgb(240, 18, 18);
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 1px;
}
.mensajeafirmativo{
    text-align: center;
    font-weight: bold;
} 